RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^$ oplossing-mod-rewrite-blog-artikels-overzicht.php
RewriteRule toevoegen oplossing-mod-rewrite-blog-artikel-toevoegen-form.php
RewriteRule process oplossing-mod-rewrite-blog-artikel-toevoegen-process.php