<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Opdracht include/require</title>
        <link rel=stylesheet href="css/global.css">
    </head>
    <body>

         <header class="group">
            <div class="logo">
               <a href="<?= $_SERVER['PHP_SELF'] ?>">Daily <span>PHP</span></a>
            </div>
            <nav>
                <ul>
                    <li><a href="<?= $_SERVER['PHP_SELF'] ?>">Nieuws</a></li>
                    <li><a href="<?= $_SERVER['PHP_SELF'] ?>">Onze Redactie</a></li>
                    <li><a href="<?= $_SERVER['PHP_SELF'] ?>?page=contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <section class="body group">