body {
  min-width: 998px; 
  background:#ffffff;
  margin:0;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
	background:#2B3536;
	padding-top:5px;
	padding-bottom:5px
}

#container {
  padding-left: 150px;
  padding-right: 150px; 
}

/*container*/

#container .column {
  position: relative;
  float: left;
}

/*center kolom*/

#center {
  width: 100%;
  background:#ffffff;
  margin-bottom: 30px;
}


nav ul {
	margin-top: -45px;
	padding-left:0;
	margin-left:0;
	color:#fff;
	float:right;
	font-family:Verdana, Geneva, sans-serif;
}

nav ul li {
	display:inline;
}

nav ul li a {
	color:#fff;
	text-decoration:none;
	float:left;
	padding: 10px;
}

nav ul li a:hover {
	color:#fff;
	text-decoration:underline;
}

article{
    width:26%;
    margin-right:15px;
    margin-left:15px;
    margin-bottom: 20px;
    padding:0 2%;
    float:left;
    background-color:#EEEEEE;
}

footer {
	text-align: center;
  clear: both;
  background:#5FC8D1;
  padding-bottom:1px;
}

h1{
	color:#ffffff;
	margin-left: 20px;
	font-size: 18px;
}

h3{
	padding-top: 20px;
	color:#ffffff;
}


 hr {
 	margin-top: -20px;
 	border: none; 
    background-color:#a8a8a8;
    height: 1px;
   }
