
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Opdracht include/require</title>
<link rel=stylesheet href="css/global.css">
</head>


<body>

<header>
<h1>Daliy <span>PHP</span></h1>
<nav>
    <ul>
        <li><a href="<?= $_SERVER['PHP_SELF'] ?>">Nieuws</a></li>
        <li><a href="<?= $_SERVER['PHP_SELF'] ?>">Onze Redactie</a></li>
        <li><a href="<?= $_SERVER['PHP_SELF'] ?>?page=contact">Contact</a></li>
    </ul>
</nav>

</header>