RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule bieren/overview/(.*)$ index.php?controller=bieren&method=overview&id=$1
RewriteRule bieren/insert/?$ index.php?controller=bieren&method=insert
RewriteRule bieren/delete/(.*)$ index.php?controller=bieren&method=delete&id=$1
RewriteRule bieren/update/(.*)$ index.php?controller=bieren&method=update&id=$1